@font-face {
    font-family: 'pinguFont';
    src: url(./sprague.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

#homepage {
    margin: 0;
}

#kahnoot {
    display: flex;
    min-width:100%;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#title {
    margin-top: 50px;
    width: 500px;
    
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

form > * {
    margin-top: 40px;
    height: 80px;
    width: 500px;
    font-size: 2em;
} 

