@font-face {
    font-family: 'pinguFont';
    src: url(./sprague.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

#homepage {
    margin: 0;
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #kahnoot {
    display: flex;
    min-width:100%;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#title {
    margin-top: 50px;
    width: 500px;
    
} */

#frontPageForm {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 70vh;
    align-items: center;
    justify-content: space-around;
    /* transform: translateY(-5%); */
    /* height: 76vh; */
    
}

#frontPageForm > * {
    /* margin-top: 40px; */
    height: 80px;
    width: 500px;
    font-size: 2em;
} 

input {
    padding-left: 10px;
}

