h2{
    text-align: center;
    margin: 0px;
}

#scores{
    text-align: center;
}

label{
    margin: 40px;
}

.table{
    margin-top: 40px;
    margin-left: 25%;
    border-collapse: separate;
    border-spacing: 150px 0;
}

/* th{
    background-color: darkgoldenrod;
} */

td {
    padding: 10px 0;
  }



