#leaderboardContents {
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    margin: 0px;
}

.custom-select{
    margin-top: 20px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    max-width: 60vw;
    /* align-items: center; */
    justify-content: space-around;
    
    align-self: center;
}
.table{
    margin-top: 30px;
    /* margin-left: 10%; */
    border-collapse: separate;
    border-spacing: 200px 0;
    /* border: 1px solid black; */
    font-size: 1.2em;
    
}
td {
    padding: 10px 0;
    /* border: 1px solid black; */
    text-align: center;
    
  }
#testTopic {
    margin-right: 50px;
}
.custom-select > * {
    /* margin-top: 40px; */
    height: 50px;
    width: 300px;
    font-size: 1.5em;
    border-radius: 10px;
    text-align: center;
} 





