#lobbyPage {
    margin: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#g2quiz {
    margin-top: 30px;
}
.lobbyContents {
    min-height: 50vh;
    width: 80%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
#playerList {
    margin-top: 30px;
    border: 3px solid black;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-height: 90%;
    
}