.countDownTimer{
    height: 2rem;
    transform-origin: left;
    background: #d8494d;
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
@keyframes roundtime {
    to {
        transform: scaleX(0);
    }
}